<body class="bg-light">
    <div class="container">
            <div class="py-5 text-center">
                <h2>Pets</h2>
            </div>

            <a [routerLink]="['/newPet']" class="btn btn-primary">Add pet</a>
            <div *ngIf="(pets$ | async) as pets" class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Type</th>
                            <th scope="col">Fur color</th>
                            <th scope="col">Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pet of pets">
                            <th scope="row">{{ pet.id }}</th>
                            <td>{{ pet.name }}</td>
                            <td>{{ pet.code }}</td>
                            <td>{{ pet.petType }}</td>
                            <td>{{ pet.petColor}}</td>
                            <td>{{ pet.petCountry}}</td>
                            <td>
                                <a href="add.html" class="btn btn-primary">Edit pet</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</body>