<body class="bg-light">
    <div class="container">
            <div class="py-5 text-center">
                <h2>Pets</h2>
            </div>

            <a [routerLink]="['/newPet']"  class="btn btn-primary">Add pet</a>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" (click)="order('id')"># <button class="btn btn-outline-info">Sort</button></th> 
                            <th scope="col" (click)="order('name')">Name <button class="btn btn-outline-info">Sort</button></th>
                            <th scope="col" (click)="order('code')">Code <button class="btn btn-outline-info">Sort</button></th>
                            <th scope="col" (click)="order('petType')"> Type <button class="btn btn-outline-info">Sort</button></th>
                            <th scope="col" (click)="order('petColor')">Fur color <button class="btn btn-outline-info">Sort</button></th>
                            <th scope="col" (click)="order('petCountry')">Country <button class="btn btn-outline-info">Sort</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pet of pets">
                            <th scope="row">{{ pet.id }}</th>
                            <td>{{ pet.name }}</td>
                            <td>{{ pet.code }}</td>
                            <td>{{ pet.petType }}</td>
                            <td>{{ pet.petColor}}</td>
                            <td>{{ pet.petCountry}}</td>
                            <td>
                                <a class="btn btn-primary" [routerLink]="['/editPet']" (click)="editPet(pet.code)">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</body>