<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Add a new pet</h2>
        </div>

        <div class="row">
            <div class="col-md-12 order-md-1">
                <form>
                    <div class="mb-3">
                        <label for="name">Name</label>
                        <div class="input-group">
                            <input type="text" [(ngModel)]="petName" id="name" name="name" class="form-control"
                                placeholder="Name">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="code">Code</label>
                        <div class="input-group">
                            <input type="text" [(ngModel)]="petCode" id="code" name="code" class="form-control"
                                placeholder="Code">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="types">Type</label>
                        <select [(ngModel)]="petType" id="petType" name="petType" class="form-select" >
                            <option *ngFor="let type of types" [value]="type.id">{{type.type}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="colors">Fur color</label>
                        <select [(ngModel)]="petColor" id="colors" name="petColor" class="form-select" >
                            <option *ngFor="let color of colors" [value]="color.id">{{color.color}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="countries">Country of origin</label>
            <select [(ngModel)]="petCountry" id="countries" name="petCountry" class="form-select" >
              <option *ngFor="let country of countries" [value]="country.id">{{country.country}}</option>
            </select>
                    </div>

                    <button (click)="savePet()" class="btn btn-primary btn-lg btn-block" type="submit" [routerLink]="['/pets']" >
                        Add Pet
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>